TeaRoom/Service References/MemberServices/MemberServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Birthday" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tel" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="OperatID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddMembersResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMemberList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberListResult" type="tns:ArrayOfT_Members" />
            <s:element minOccurs="1" maxOccurs="1" name="TotalCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfT_Members">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="T_Members" nillable="true" type="tns:T_Members" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="T_Members">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MemberID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sex" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Birthday" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OpenID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OperatID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="MemberRecharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MemberID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OperatID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberRechargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberRechargeResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MemberID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Birthday" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberUpdateResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberByCardNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberByCardNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberByCardNoResult" type="tns:T_Members" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddMembersSoapIn">
    <wsdl:part name="parameters" element="tns:AddMembers" />
  </wsdl:message>
  <wsdl:message name="AddMembersSoapOut">
    <wsdl:part name="parameters" element="tns:AddMembersResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberList" />
  </wsdl:message>
  <wsdl:message name="GetMemberListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberListResponse" />
  </wsdl:message>
  <wsdl:message name="MemberRechargeSoapIn">
    <wsdl:part name="parameters" element="tns:MemberRecharge" />
  </wsdl:message>
  <wsdl:message name="MemberRechargeSoapOut">
    <wsdl:part name="parameters" element="tns:MemberRechargeResponse" />
  </wsdl:message>
  <wsdl:message name="MemberUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:MemberUpdate" />
  </wsdl:message>
  <wsdl:message name="MemberUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:MemberUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberByCardNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberByCardNo" />
  </wsdl:message>
  <wsdl:message name="GetMemberByCardNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberByCardNoResponse" />
  </wsdl:message>
  <wsdl:portType name="MemberServicesSoap">
    <wsdl:operation name="AddMembers">
      <wsdl:input message="tns:AddMembersSoapIn" />
      <wsdl:output message="tns:AddMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberList">
      <wsdl:input message="tns:GetMemberListSoapIn" />
      <wsdl:output message="tns:GetMemberListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberRecharge">
      <wsdl:input message="tns:MemberRechargeSoapIn" />
      <wsdl:output message="tns:MemberRechargeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberUpdate">
      <wsdl:input message="tns:MemberUpdateSoapIn" />
      <wsdl:output message="tns:MemberUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberByCardNo">
      <wsdl:input message="tns:GetMemberByCardNoSoapIn" />
      <wsdl:output message="tns:GetMemberByCardNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberServicesSoap" type="tns:MemberServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMembers">
      <soap:operation soapAction="http://tempuri.org/AddMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberList">
      <soap:operation soapAction="http://tempuri.org/GetMemberList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberRecharge">
      <soap:operation soapAction="http://tempuri.org/MemberRecharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberUpdate">
      <soap:operation soapAction="http://tempuri.org/MemberUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByCardNo">
      <soap:operation soapAction="http://tempuri.org/GetMemberByCardNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberServicesSoap12" type="tns:MemberServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMembers">
      <soap12:operation soapAction="http://tempuri.org/AddMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberList">
      <soap12:operation soapAction="http://tempuri.org/GetMemberList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberRecharge">
      <soap12:operation soapAction="http://tempuri.org/MemberRecharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberUpdate">
      <soap12:operation soapAction="http://tempuri.org/MemberUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByCardNo">
      <soap12:operation soapAction="http://tempuri.org/GetMemberByCardNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberServices">
    <wsdl:port name="MemberServicesSoap" binding="tns:MemberServicesSoap">
      <soap:address location="http://localhost:62386/Services/MemberServices.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberServicesSoap12" binding="tns:MemberServicesSoap12">
      <soap12:address location="http://localhost:62386/Services/MemberServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>